.my-activity{
  background-color: #f7fafd;
  padding-top: 53px;

  h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #3e954a;
  }

  h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: -0.01em;

    color: #000000;
  }

  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #24BD6B;
  }
  h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #BDBDBD;
  }

  span {
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    color: #828282;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .upper-banner{
    background: #f7fafd;
    padding: 0 100px 50px 100px;
    margin: 0 -12px 0 -12px;
  }

  .graphics-card{
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      color: #4F4F4F;
    }
  }

  .v-card {
    border-radius: 20px;
  }

  .tweened-number {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
  }
  .tweened-number-blue {
    font-weight: 500;
    font-size: 17px;
    line-height: 18px;
    text-transform: capitalize;
    color: #3e954a
  }

  .market-price-icon{
    padding-top: 0px !important;
  }

  .market-price{
    padding-left: 5% !important;
  }

  .money-price-detail{
    padding-top: 2% !important;
  }

  .card-1 {
    margin-left: 100px;
    margin-bottom: 58px;
  }

  .text-health {
    position: absolute;
    top: 24px;
    left: 38px;
  }

  .circular {
    position: absolute;
    top: 130px;
    left: 62px;
  }

  .border {
    border-right: 1px solid #F0F0F0;
    border-left: 1px solid #F0F0F0;
    line-height: 30px;
    margin-right: 20px;
  }

  .justify-right {
    justify-content: end;
  }

  .supp {
    padding-left: 40px;
  }

  .supp-1 {
    position: absolute;
    top: 37px;
    left: 142px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: -0.01em;

    color: #ACACAC;
  }

  .supp-2 {
    position: absolute;
    top: 57px;
    left: 142px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    /* identical to box height, or 32px */

    letter-spacing: -0.01em;

    color: #333333;
  }

  .call {
    padding-right: 95px;
  }

  .call-1 {
    position: absolute;
    top: 37px;
    left: 576px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: -0.01em;

    color: #ACACAC;
  }

  .call-2 {
    position: absolute;
    top: 57px;
    left: 576px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    /* identical to box height, or 32px */

    letter-spacing: -0.01em;

    color: #333333;
  }

  .borr {
    padding-right: 150px;
  }

  .borr-1 {
    position: absolute;
    top: 37px;
    left: 1000px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: -0.01em;

    color: #ACACAC;
  }

  .borr-2 {
    position: absolute;
    top: 57px;
    left: 1000px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    /* identical to box height, or 32px */

    letter-spacing: -0.01em;

    color: #333333;
  }

  .health {
    margin-left: 100px;
    margin-right: 100px;
  }

  .history {
    margin-top: 10px;
  }
}

